a. far inserie all'utente due valori interi

In [ ]:
a = int(input("inserire il numero 1 :"))
b = int(input("inserire il numero 2:")

inserire il numero 1 :12
inserire il numero 2:45

b. effettuare le 4 operazioni aritmetiche tra i due numeri

In [ ]:
som = a + b
sot = a - b
mol = a * b
div = a / b
print (som,sot,mol,div)

57 -33 540 0.26666666666666666

c. effettuare l'elevamento a potenza del primo numero per il secondo

In [ ]:
 pot = pow(a, b)
 print(pot)

3657261988008837196714082302655030834027437228032

d. effettuare il calcolo del resto della divisione tra il primo e il secondo numero

In [ ]:
rest = a % b
print(rest)

12

f. effettuare il calcolo del resto della divisione tra il primo e il secondo numero

In [ ]:
divIntera = a // b
print(divIntera)

0

g. incrementare di una unità entrambi i numeri

In [ ]:
num1 = a + 1
num2 = b + 1
print(num1, num2)

13 46

h. far inserie all'utente due valori: il primo rappresenta la sua altezza (in metri) e il secondo rappresenta il suo peso (in kg). Visualizzare poi l'IMC (google it...)

In [ ]:
h = str(input("inserire il numero 1 in m :"))
kg = str(input("inserire il numero 2 in kg:"))
#imc = 20.3

inserire il numero 1 in m :1,83
inserire il numero 2 in kg:68

i. arrotondare l'IMC precedente

In [ ]:
imc = round(20,3)
print(imc)

20

j. visualizzare il proprio nome, cognome, data di nascita e città di nascita separando le informazioni con un trattino.

In [ ]:
nome = "tristan"
cognome = "gallo"
data = "15/09/2004"
città = "milano"
print(nome,cognome,data,città,sep= '-', end= '.')

tristan-gallo-15/09/2004-milano.

k. visualizzare le stesse informazioni per 10 volte di seguito

In [10]:
nome = "tristan"
cognome = "gallo"
data = "15/09/2004"
città = "milano"
informazioni = (nome, cognome, data, città)
print(informazioni *10)

('tristan', 'gallo', '15/09/2004', 'milano', 'tristan', 'gallo', '15/09/2004', 'milano', 'tristan', 'gallo', '15/09/2004', 'milano', 'tristan', 'gallo', '15/09/2004', 'milano', 'tristan', 'gallo', '15/09/2004', 'milano', 'tristan', 'gallo', '15/09/2004', 'milano', 'tristan', 'gallo', '15/09/2004', 'milano', 'tristan', 'gallo', '15/09/2004', 'milano', 'tristan', 'gallo', '15/09/2004', 'milano', 'tristan', 'gallo', '15/09/2004', 'milano')

l. assegnare il proprio nome e cognome ad una stringa e visualizzarla con tutte le lettere maiuscole

In [26]:
s = nome 
s2 = cognome
print('%s' % s.upper(), '%s' % s2.upper())

TRISTAN GALLO

m. assegnare il proprio nome e cognome ad una stringa e visualizzarla con le prime lettere maiuscole

In [30]:
string =  "tristan gallo"
print (string.title())

Tristan Gallo

n. assegnare il proprio nome e cognome ad una stringa e visualizzarne la lunghezza

In [32]:
string = "tristan gallo"
lunghezza = len(string)
print(lunghezza)

13

o. assegnare il proprio nome e cognome ad una stringa e contate quante vocali contiene

In [33]:
string = "tristan gallo"
contatore = 0
vocali = set('aeiou')
for lettera in string.lower(): 
    if lettera in vocali:contatore = contatore + 1
print(contatore)

4

p. assegnare il proprio nome e cognome ad una stringa e visualizzare i primi 5 caratteri

In [37]:
string = "tristan gallo"
print(string[0:5])

trist

q. assegnare il proprio nome e cognome ad una stringa e visualizzare gli ultimi 5 caratteri

In [38]:
string = "tristan gallo"
print(string[8:13])

gallo

r. assegnare il proprio nome e cognome ad una stringa e visualizzare i 5 caratteri centrali

In [40]:
string = "tristan gallo"
print(string[4:9])

tan g

s. assegnare il proprio nome e cognome ad una stringa e sostituire le vocali con una X

In [42]:
s = "tristan gallo"
sX=s.replace('a','X').replace('e','X').replace('i','X').replace('o','X')
print(sX,)

trXstXn gXllX