a. far inserie all'utente due valori interi

In [7]:
a = int(input("inserire il numero 1 :"))
b = int(input("inserire il numero 2:")

inserire il numero 1 :12
inserire il numero 2:45

b. effettuare le 4 operazioni aritmetiche tra i due numeri

In [10]:
som = a + b
sot = a - b
mol = a * b
div = a / b
print (som,sot,mol,div)

57 -33 540 0.26666666666666666

c. effettuare l'elevamento a potenza del primo numero per il secondo

In [11]:
 pot = pow(a, b)
 print(pot)

3657261988008837196714082302655030834027437228032

d. effettuare il calcolo del resto della divisione tra il primo e il secondo numero

In [12]:
rest = a % b
print(rest)

12

f. effettuare il calcolo del resto della divisione tra il primo e il secondo numero

In [13]:
divIntera = a // b
print(divIntera)

0

g. incrementare di una unità entrambi i numeri

In [16]:
num1 = a + 1
num2 = b + 1
print(num1, num2)

13 46

h. far inserie all'utente due valori: il primo rappresenta la sua altezza (in metri) e il secondo rappresenta il suo peso (in kg). Visualizzare poi l'IMC (google it...)

In [29]:
h = str(input("inserire il numero 1 in m :"))
kg = str(input("inserire il numero 2 in kg:"))
#imc = 20.3

inserire il numero 1 in m :1,83
inserire il numero 2 in kg:68

i. arrotondare l'IMC precedente

In [19]:
imc = round(20,3)
print(imc)

20

j. visualizzare il proprio nome, cognome, data di nascita e città di nascita separando le informazioni con un trattino.

In [44]:
nome = "tristan"
cognome = "gallo"
data = "15/09/2004"
città = "milano"
print(nome,cognome,data,città,sep= '-', end= '.')

tristan-gallo-15/09/2004-milano.

k. visualizzare le stesse informazioni per 10 volte di seguito

In [67]:
informazioni = (nome, cognome, data, città)
print("informazi", *10)

TypeError: ignored