In [ ]:
import pandas as pd

Scrivere le istruzioni per caricare i dati del file csv (inventare il link e il nome del file) in un dataframe Pandas chiamato “movies”

In [ ]:
movies = 'https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv'
movies = pd.read_csv(movies)
movies

                                  Film    Genre  ... Worldwide Gross  Year
0           Zack and Miri Make a Porno  Romance  ...         $41.94   2008
1                      Youth in Revolt   Comedy  ...         $19.62   2010
2   You Will Meet a Tall Dark Stranger   Comedy  ...         $26.66   2010
3                         When in Rome   Comedy  ...         $43.04   2010
4                What Happens in Vegas   Comedy  ...        $219.37   2008
..                                 ...      ...  ...             ...   ...
72                 Across the Universe  romance  ...         $29.37   2007
73                       A Serious Man    Drama  ...         $30.68   2009
74                  A Dangerous Method    Drama  ...          $8.97   2011
75                          27 Dresses   Comedy  ...        $160.31   2008
76                (500) Days of Summer   comedy  ...         $60.72   2009

[77 rows x 8 columns]

visualizzare le ultime 8 righe del dataframe

In [ ]:
movies.tail(8)

                    Film    Genre  ... Worldwide Gross  Year
69             Enchanted   Comedy  ...        $340.49   2007
70             Dear John    Drama  ...        $114.97   2010
71             Beginners   Comedy  ...         $14.31   2011
72   Across the Universe  romance  ...         $29.37   2007
73         A Serious Man    Drama  ...         $30.68   2009
74    A Dangerous Method    Drama  ...          $8.97   2011
75            27 Dresses   Comedy  ...        $160.31   2008
76  (500) Days of Summer   comedy  ...         $60.72   2009

[8 rows x 8 columns]

visualizzare solo le colonne che contengono il titolo e il genere del film

In [ ]:
movies[['Film','Genre']]

                                  Film    Genre
0           Zack and Miri Make a Porno  Romance
1                      Youth in Revolt   Comedy
2   You Will Meet a Tall Dark Stranger   Comedy
3                         When in Rome   Comedy
4                What Happens in Vegas   Comedy
..                                 ...      ...
72                 Across the Universe  romance
73                       A Serious Man    Drama
74                  A Dangerous Method    Drama
75                          27 Dresses   Comedy
76                (500) Days of Summer   comedy

[77 rows x 2 columns]

visualizzare le righe del dataframe dalla 20 alla 30

In [ ]:
movies.loc[20:30]

                                   Film      Genre  ... Worldwide Gross  Year
20  The Curious Case of Benjamin Button    Fantasy  ...        $285.43   2008
21                     The Back-up Plan     Comedy  ...         $77.09   2010
22                              Tangled  Animation  ...        $355.01   2010
23                   Something Borrowed    Romance  ...         $60.18   2011
24               She's Out of My League     Comedy  ...         $48.81   2010
25                 Sex and the City Two     Comedy  ...        $288.35   2010
26                   Sex and the City 2     Comedy  ...        $288.35   2010
27                     Sex and the City     Comedy  ...        $415.25   2008
28                          Remember Me      Drama  ...         $55.86   2010
29               Rachel Getting Married      Drama  ...         $16.61   2008
30                             Penelope     Comedy  ...         $20.74   2008

[11 rows x 8 columns]

visualizzare i titolo e l’anno dei film che si trovano nelle posizioni 23, 29 e 45

In [ ]:
movies.loc[[23,29,45],['Film','Year']]

                      Film  Year
23      Something Borrowed  2011
29  Rachel Getting Married  2008
45              Mamma Mia!  2008

visualizzare i titoli dei film del genere “Animation”

In [ ]:
movies.loc[movies['Genre'] == 'Animation']['Film']

6                WALL-E
22              Tangled
64    Gnomeo and Juliet
65    Gnomeo and Juliet
Name: Film, dtype: object

visualizzare i titoli dei film prodotti dalla “Disney” e dalla “20th Century Fox”

In [ ]:
movies[(movies['Lead Studio'] == 'Disney') | (movies['Lead Studio'] == 'Fox')]['Film']

3                           When in Rome
4                  What Happens in Vegas
6                                 WALL-E
16                          The Proposal
22                               Tangled
44                         Marley and Me
49                    Love & Other Drugs
56                           Just Wright
60    High School Musical 3: Senior Year
64                     Gnomeo and Juliet
65                     Gnomeo and Juliet
69                             Enchanted
75                            27 Dresses
76                  (500) Days of Summer
Name: Film, dtype: object

visualizzare i titoli dei film usciti dal 2005 al 2010

In [ ]:
movies.loc[(movies['Year'] >= 2005) & (movies['Year'] <= 2010)]['Film']

0             Zack and Miri Make a Porno
1                        Youth in Revolt
2     You Will Meet a Tall Dark Stranger
3                           When in Rome
4                  What Happens in Vegas
                     ...
70                             Dear John
72                   Across the Universe
73                         A Serious Man
75                            27 Dresses
76                  (500) Days of Summer
Name: Film, Length: 63, dtype: object

visualizzare i film (tutte le colonne) il cui titolo comincia con la lettera W

In [ ]:
movies['Film'].str.startswith('W')

0     False
1     False
2     False
3      True
4      True
      ...
72    False
73    False
74    False
75    False
76    False
Name: Film, Length: 77, dtype: bool

visualizzare l’ “Audience score %” medio dei film del genere “Drama”

In [ ]:
movies[movies['Genre']=='Drama']['Audience score %'].mean()

67.23076923076923

visualizzare il numero di film per ogni genere

In [ ]:
movies.groupby(['Genre'])['Film'].count()

Genre
Action        1
Animation     4
Comdy         1
Comedy       41
Drama        13
Fantasy       1
Romance      13
Romence       1
comedy        1
romance       1
Name: Film, dtype: int64

diminuire del 10% il valore delle recensioni presenti nel campo “Audience score %”

In [ ]:
movies['Audience score %'].apply(lambda x: x-10)

FILA B

visualizzare le prime 12 righe del dataframe

In [ ]:
movies.head(12)

                                   Film      Genre  ... Worldwide Gross  Year
0            Zack and Miri Make a Porno    Romance  ...         $41.94   2008
1                       Youth in Revolt     Comedy  ...         $19.62   2010
2    You Will Meet a Tall Dark Stranger     Comedy  ...         $26.66   2010
3                          When in Rome     Comedy  ...         $43.04   2010
4                 What Happens in Vegas     Comedy  ...        $219.37   2008
5                   Water For Elephants      Drama  ...        $117.09   2011
6                                WALL-E  Animation  ...        $521.28   2008
7                              Waitress    Romance  ...         $22.18   2007
8                   Waiting For Forever    Romance  ...          $0.03   2011
9                       Valentine's Day     Comedy  ...        $217.57   2010
10  Tyler Perry's Why Did I get Married    Romance  ...         $55.86   2007
11              Twilight: Breaking Dawn    Romance  ...        $702.17   2011

[12 rows x 8 columns]

visualizzare le colonne 3, 4, 5 e 6

In [ ]:
movies[['Lead Studio', 'Audience score %', 'Profitability','Rotten Tomatoes %']]

              Lead Studio  Audience score %  Profitability  Rotten Tomatoes %
0   The Weinstein Company                70       1.747542                 64
1   The Weinstein Company                52       1.090000                 68
2             Independent                35       1.211818                 43
3                  Disney                44       0.000000                 15
4                     Fox                72       6.267647                 28
..                    ...               ...            ...                ...
72            Independent                84       0.652603                 54
73              Universal                64       4.382857                 89
74            Independent                89       0.448645                 79
75                    Fox                71       5.343622                 40
76                    Fox                81       8.096000                 87

[77 rows x 4 columns]

visualizzare le righe del dataframe che si trovano dalla decima alla trentesima posizione

In [ ]:
movies.loc[10:30]

                                   Film      Genre  ... Worldwide Gross  Year
10  Tyler Perry's Why Did I get Married    Romance  ...         $55.86   2007
11              Twilight: Breaking Dawn    Romance  ...        $702.17   2011
12                             Twilight    Romance  ...        $376.66   2008
13                       The Ugly Truth     Comedy  ...        $205.30   2009
14          The Twilight Saga: New Moon      Drama  ...        $709.82   2009
15             The Time Traveler's Wife      Drama  ...        $101.33   2009
16                         The Proposal     Comedy  ...        $314.70   2009
17               The Invention of Lying     Comedy  ...         $32.40   2009
18                   The Heartbreak Kid     Comedy  ...        $127.77   2007
19                          The Duchess      Drama  ...         $43.31   2008
20  The Curious Case of Benjamin Button    Fantasy  ...        $285.43   2008
21                     The Back-up Plan     Comedy  ...         $77.09   2010
22                              Tangled  Animation  ...        $355.01   2010
23                   Something Borrowed    Romance  ...         $60.18   2011
24               She's Out of My League     Comedy  ...         $48.81   2010
25                 Sex and the City Two     Comedy  ...        $288.35   2010
26                   Sex and the City 2     Comedy  ...        $288.35   2010
27                     Sex and the City     Comedy  ...        $415.25   2008
28                          Remember Me      Drama  ...         $55.86   2010
29               Rachel Getting Married      Drama  ...         $16.61   2008
30                             Penelope     Comedy  ...         $20.74   2008

[21 rows x 8 columns]

visualizzare il genere e lo studio dei film che si trovano dalla decima alla ventesima posizione

In [ ]:
movies.loc[10:20][['Film','Lead Studio']]

                                   Film   Lead Studio
10  Tyler Perry's Why Did I get Married   Independent
11              Twilight: Breaking Dawn   Independent
12                             Twilight        Summit
13                       The Ugly Truth   Independent
14          The Twilight Saga: New Moon        Summit
15             The Time Traveler's Wife     Paramount
16                         The Proposal        Disney
17               The Invention of Lying  Warner Bros.
18                   The Heartbreak Kid     Paramount
19                          The Duchess     Paramount
20  The Curious Case of Benjamin Button  Warner Bros.

visualizzare le informazioni del film “When in Rome”

In [ ]:
movies[movies['Film'] == 'When in Rome']

           Film   Genre Lead Studio  ...  Rotten Tomatoes %  Worldwide Gross  Year
3  When in Rome  Comedy      Disney  ...                 15          $43.04   2010

[1 rows x 8 columns]

visualizzare  le informazioni dei film “When in Rome”, “Waitress” e “WALL-E”

In [ ]:
movies[(movies['Film'] == 'When in Rome') | (movies['Film'] == 'Waitress') | (movies['Film'] == 'WALL-E')]

           Film      Genre  ... Worldwide Gross  Year
3  When in Rome     Comedy  ...         $43.04   2010
6        WALL-E  Animation  ...        $521.28   2008
7      Waitress    Romance  ...         $22.18   2007

[3 rows x 8 columns]

visualizzare i titoli dei film che hanno avuto una recensione di Rotten Tomatoes compresa tra 80 e 90

In [ ]:
movies.loc[(movies['Rotten Tomatoes %'] >= 80) & (movies['Rotten Tomatoes %'] <= 90)]['Film']

7                   Waitress
22                   Tangled
29    Rachel Getting Married
39      My Week with Marilyn
57                 Jane Eyre
71                 Beginners
73             A Serious Man
76      (500) Days of Summer
Name: Film, dtype: object

visualizzare i film che hanno la parola “friends” nel titolo

In [ ]:
movies.loc[movies['Film'].str.contains('friends')]

                          Film   Genre  ... Worldwide Gross  Year
66  Ghosts of Girlfriends Past  Comedy  ...        $102.22   2009

[1 rows x 8 columns]

visualizzare il valore più alto della recensione di Rotten Tomatoes

In [ ]:
movies['Rotten Tomatoes %'].max()

96

visualizzare il numero di film per ogni studio

In [ ]:
movies.groupby(['Lead Studio'])['Film'].count()

Lead Studio
20th Century Fox          2
CBS                       1
Disney                    8
Fox                       6
Independent              19
Lionsgate                 2
New Line                  1
Paramount                 4
Sony                      4
Summit                    5
The Weinstein Company     3
Universal                 8
Warner Bros.             14
Name: Film, dtype: int64

aumentare del 10% il valore delle recensioni di Rotten Tomatoes

In [ ]:
movies['Rotten Tomatoes %'].apply(lambda x: x+10)

0     74
1     78
2     53
3     25
4     38
      ..
72    64
73    99
74    89
75    50
76    97
Name: Rotten Tomatoes %, Length: 77, dtype: int64